@model Mango.Web.ViewModels.WebSiteViewModel
@*<ul class="nav navbar-nav" id="topNavgationTag">
        @foreach (var item in Model.WebSiteNavigationData)
        {
            <li data-id="@item.LinkUrl"><a href="@item.LinkUrl" @(item.IsTarget ? "target=\"_blank\"" : "")>@item.NavigationName</a></li>
        }
    </ul>*@

@foreach (var item in Model.WebSiteNavigationData)
{
    <li class="nav-item" data-id="@item.LinkUrl">
        <a class="nav-link" href="@item.LinkUrl" @(item.IsTarget ? "target=\"_blank\"" : "")>@item.NavigationName</a>
    </li>
}    